.container{
    padding-top: 6cm;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.signup-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    background-image: url('/assets/c.avif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }

  input[type="password"],
  input[type="tel"],
  input[type="email"],
  input[type="text"]
  {
    padding: 10px;
    width: 96%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .login-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  