<div class="container">

<div class="signup-container">
  <h2>Sign Up</h2>
  <form (ngSubmit)="signup()">
      <div class="form-group">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" class="form-control" [(ngModel)]="fullName" name="fullName" required>
      </div>
      <div class="form-group">
        <label for="mobile">Mobile Number:</label>
        <input type="tel" id="mobile" class="form-control" [(ngModel)]="mobile" name="number" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <div class="login-link">
      Already have an account? <a routerLink="/login">Log In</a>
    </div>
  </div>

  </div>
  