<header class="header">
    <div class="next">
        <div class="logo">
            <img src="/assets/f.png" alt="FOODLIE">
        </div>
        <div><h4>FOODLIE</h4></div>
    </div> 
    <nav class="navbar">
      <ul class="nav-links">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/restaurants" routerLinkActive="active">Restaurants</a>
        </li>
        <li class="nav-item">
          <a routerLink="/orders" routerLinkActive="active">Cart</a>
        </li>
        <li class="nav-item">
          <a routerLink="/profile" routerLinkActive="active">Profile</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
  
