
.container{
  padding-top: 7cm;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.login-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;

  background-image: url('/assets/c.avif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  

}


h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 96%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.signup-link a {
  color: #1f2eb6;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
