<div class="container">
  <div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="signup-link">
      Don't have an account? <a routerLink="/signup">Sign Up</a>
    </div>
  </div>
</div>
  
  